{% extends 'base.html' %}

{% block body %}


<div id="contact-page" class="container">
    <div class="bg">
        <div class="row">    		
            <div class="col-sm-12">    			   			
                <h1 class="title text-center" style="color: #FE980F; margin-bottom: 50px;">About <strong>Us</strong></h1> 
                <pre style="font-size: 18px; font-family: Arial, Helvetica, sans-serif;">      Online shopping sites are trending nowadays. This type of shopping sites have converted physical shops into the digital form. Customers doesn’t need to go outside to purchase the products or for doing inquiry about the product price or details. Everyone can explore different products through online sites in their mobile phones. Online shopping sites have provided the facility for the shop owners to sell their products on different online sites which will give the advantage of fast products delivery to the customer. This online furniture selling site will give customers a place to buy anything from furniture to small accessory of any brand.</pre>   				
                </div>
            </div>
        </div>
    </div>
</div>
            
{% endblock %}